<p>
  My Proposals
</p>



<table ml-table shadow="3" *ngIf="my_proposals.length > 0">
      <tr>
        <th text-cell>Date</th>
        <th text-cell>Title</th>
        <th text-cell>Details</th>
        <th text-cell>Delete</th>
      </tr>

      <tr *ngFor="let kw of my_proposals">
        <td text-cell>{{kw.createdAt}} </td>
        <td text-cell style="white-space: pre-wrap;">{{kw.title}}</td>
        <td text-cell><ml-button variant="icon" aspect="raised" (click)="selectProposalById(kw.id); editDlg.show()"><ml-icon>edit</ml-icon></ml-button></td>
        <td text-cell><ml-button variant="icon" aspect="raised" (click)="deleteProposal(kw.id)"><ml-icon>delete</ml-icon></ml-button></td>
      </tr>
    </table>


    <mdl-dialog #editDlg class="mdl-dialog">
      <ml-dialog-content>
         
         <form [formGroup]="proposalForm" autocomplete="off">
       <ml-textfield [formControl]="titleTF">
        <ml-textfield-label>Title</ml-textfield-label>
        <ml-error [validateControl]="titleTF" validator="required">Required</ml-error>
        <ml-error [validateControl]="titleTF" validator="minLength">Min length 10</ml-error>
        <ml-error [validateControl]="titleTF" validator="maxLength">Max length 128</ml-error>
      </ml-textfield>
      <textarea [formControl]="messageTF" rows="3" maxrows="10" id="styled">
      
        <ml-textfield-label>Proposal Message</ml-textfield-label>
        <ml-error [validateControl]="messageTF" validator="required">Required</ml-error>
        <ml-error [validateControl]="messageTF" validator="minLength">Min length 10</ml-error>
      </textarea>
    </form>
  </ml-dialog-content>


  <ml-dialog-actions>
    <div large-screen-only > 
       <ml-switch large-screen-only id="visibility_id"  [formControl]="visibility" ripple>{{visibility_label}}</ml-switch>
    </div>
    <ml-button-submit large-screen-only [disabled]="!proposalForm.valid" aspect="raised, colored, primary" (click)="updateProposal()" ripple text="Update Proposal"></ml-button-submit>
    <ml-button-submit small-screen-only class="shrink" [disabled]="!proposalForm.valid" aspect="raised" (click)="updateProposal()" ripple text="Update"></ml-button-submit>
    <ml-switch small-screen-only id="visibility_id"  [formControl]="visibility" ripple>{{visibility_label}}</ml-switch>
 
    <ml-button large-screen-only aspect="raised, colored, primary" (click)="editDlg.close(); clearSelectedProposal()" ripple>Close</ml-button>
    <ml-button small-screen-only class="button_right" variant="icon" (click)="editDlg.close(); clearSelectedProposal()"><ml-icon>clear</ml-icon></ml-button>
  </ml-dialog-actions>
      
    </mdl-dialog>