

<table ml-table shadow="3" *ngIf="public_proposals.length > 0">
      <tr>
        <th text-cell>Date</th>
     
        <th text-cell>Title</th>
    
        <th>Details</th>
      
      
      </tr>

      <tr *ngFor="let kw of public_proposals">
        <td text-cell>{{kw.createdAt}} </td>
        <td text-cell class="cell_wrap">{{kw.title}}</td>
        <td><ml-button variant="icon" aspect="raised" (click)="selectProposalById(kw.id); detailDlg.show()"><ml-icon>zoom_in</ml-icon></ml-button></td>
       
      </tr>
    </table>


    <mdl-dialog #detailDlg class="mdl-dialog">
      <ml-dialog-content>
         <div>{{selected_proposal.title}}</div>
         <hr/>
         <div>Email:&nbsp;<a href="mailto:{{selected_proposal.ownerEmail}}">{{selected_proposal.ownerEmail}}</a></div>
         <hr/>
         <div>User Name:&nbsp;{{selected_proposal.ownerName}}</div>
         <hr/>
         <div class="scroll-pane"> 
              <div  class="pa-table" style="white-space: pre-wrap;">{{selected_proposal.message}}</div>
        </div>
        
      </ml-dialog-content>
      <ml-dialog-actions>
        <ml-button large-screen-only aspect="raised, colored, primary" (click)="detailDlg.close()" ripple>Close</ml-button>
        <ml-button small-screen-only class="button_right" variant="icon" (click)="detailDlg.close()"><ml-icon>clear</ml-icon></ml-button>
      </ml-dialog-actions>
    </mdl-dialog>