/* You can add global styles to this file, and also import other style files */
.pa_table {
    height: 900px;
}


.scroll-pane  { overflow: auto; padding-right: 10px; height: 400px; }


textarea#styled {
	/*width: 600px;*/
    width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	/*font-family: Tahoma, sans-serif;*/
	background-position: bottom right;
	background-repeat: no-repeat;
}

/*.mdl-dialog.open {
	margin-top: 10%;
}*/

.mdl-data-table th.sort_row {
	line-height: 3px;
	height: 12px;
	text-align: center;
	padding-bottom: 2px;
	background-color: #f4f5f7;
}

.button_right {
	float: right;
}

.button_left {
	float: left;
}

input {
		height:32px;
		border: 3px solid #cccccc;	
	}



.cell_wrap {
	white-space: pre-wrap;
}

@media screen and (max-width:360px)  {
	.scroll-pane  { overflow: auto; padding-right: 10px; height: 130px; }
	.mdl-data-table td.mdl-data-table__cell--non-numeric {
		padding-top: 8px;
		padding-bottom: 8px;
		height: 30px;
		padding-left: 4px;
	}
	.mdl-data-table tr {
		height:32px;
	}

	 .mdl-data-table td:first-of-type.mdl-data-table__cell--non-numeric,
	 .mdl-data-table th:first-of-type.mdl-data-table__cell--non-numeric {
		padding-left: 4px;
	}

    .mdl-data-table tbody, th.mdl-data-table__cell--non-numeric {
		padding-left: 4px;
	}

	input {
		height:32px;
		border: 3px solid #cccccc;
		
	}
	.is-small-screen > .mdl-layout__header.mdl-layout__header--waterfall {
		min-height: .9%;
		height: 10%;
	}

	div.mdl-tabs__tab {
		padding-left: 0px;
		text-align: left;
		font-size: 95%;
	}
	
	.shrink > div.mdl-button {
		height: 28px;
		line-height: 28px;
		font-size: 12px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.mdl-switch.is-upgraded {
		width:9%;
		margin-left: 12px;
		padding-left: 18px;
	}
}